{% extends 'base.html' %}

{% block title %}{{ _('Reading time evaluation service | Home page') }}{% endblock %}

{% block container %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">{{ _('Reading time estimation service') }}</h1>
      <p>
        {{ _("Nowadays, we're all in a hurry, so we need to count every second
        of our time to enhance our performance. This service will help you evaluate
        approximate reading time of a given text. It works on full websites as well
        as plain text.") }}
      </p>
      <p>
        <a class="btn btn-primary btn-lg" href="{{ url_for('app.evaluation_form') }}" role="button">{{ _('Evaluate') }} &raquo;</a>
      </p>
    </div>
  </div>

  <!-- Content container -->
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>{{ _('Pass a test') }}</h2>
        <p>
          {{ _('The test will help you evaluate your reading speed.') }}
          <br>
          <a href="http://www.readingsoft.com/">{{ _('English version only') }}</a>
          <br>
          {{ _("There is an option for other languages as well. You can install
          a browser extension called Spritzlet, open any link and try to play
          with the reading speed on any website. You can find more details
          here:") }}
          <br>
          <a href="http://www.spritzlet.com/">{{ _('Spritz extension') }}</a>
        </p>
      </div>
      <div class="col-md-4">
        <h2>{{ _('How does it work?') }}</h2>
        <p>
          {{ _('The algorithm is the following: we count all the words from a 
          website or from the text you provide, divide the number by the reading
          speed (default 200 WPM) and get approximate reading time. E.g.: 2000
          words / 200 WPM = 10 minutes of reading.') }}
        </p>
      </div>
      <div class="col-md-4">
        <h2>{{ _('Contributions') }}</h2>
        <p>
          {{ _('It is an open source project, so any contributions or
           ideas are welcome.') }}
        </p>
        <p>
          <a class="btn btn-secondary" href="https://github.com/vald-phoenix/reading-time" role="button">{{ _('Jump to Github repository') }} &raquo;</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
