attrs==17.4.0
Babel==2.5.3
bumpversion==0.5.3
certifi==2018.1.18
chardet==3.0.4
click==6.7
coverage==4.5.1
Flask==0.12.2
Flask-Babel==0.11.2
Flask-Script==2.0.6
Flask-WTF==0.14.2
gunicorn==19.7.1
idna==2.6
inscriptis==0.0.3.2
itsdangerous==0.24
Jinja2==2.10
lxml==4.1.1
MarkupSafe==1.0
pluggy==0.6.0
py==1.5.2
pytest==3.4.2
pytz==2018.3
requests==2.18.4
six==1.11.0
urllib3==1.22
Werkzeug==0.14.1
-e git://github.com/vald-phoenix/wtforms.git#egg=wtforms
